<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Резюме</title>
  </head>
  <body>
    <h1><em>РЕЗЮМЕ</em></h1>

    <h2><em>Аникина Оксана Игоревна</em></h2>
    <img src="IMG_20180401_155737.jpg" alt="photo" />
    <p>Дата рождения: 18.07.1990</p>
    <p>Место проживания: Николаев, пр.Центральный 4а</p>

    <p>Контактная информация:</p>

    <p>Телефон : +380636727774</p>
    <p>Электронная почта: ksunyanikina@gmail.com</p>

    <p>
      Социальные сети:<a href="https://www.instagram.com/ksuhanikina/">
        https://www.instagram.com/ksuhanikina/
      </a>
    </p>
    <p>Профессия: Массажист</p>
    <p>Желаемая Профессия: Фронтенд разработчик</p>
    <p>Образование:</p>
    <ul>
      <li>2008-2012 - НФ КНУКиИ - менеджер внешнеэкономической деятельности</li>
      <li>2015 - Академия красоты "Мастер-сервис" - массажист</li>
    </ul>

    <p>Опыт работы:</p>
    <ul>
      <li>2014-2015 - помощник руководителя Сеть автосалонов Автогалактика</li>
      <li>2015 - частная практика массажиста</li>
    </ul>
  </body>
</html>
