<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summary</title>
  </head>
  <body>
    <h1><em>Summary</em></h1>

    <h2><em>Anikina Oksana</em></h2>
    <img src="IMG_20180401_155737.jpg" alt="photo" />
    <p>Date of birth: 18.07.1990</p>
    <p>Place of residence: Ukraine Nikolaev city avenue central 4a</p>

    <p>Tel : +380636727774</p>
    <p>Email: ksunyanikina@gmail.com</p>

    <p>
      <a href="https://www.instagram.com/ksuhanikina/">
        https://www.instagram.com/ksuhanikina/
      </a>
    </p>
    <p>My profession: Massage-therapist</p>
    <p>Desired profession: Frontend developer</p>
    <p>Education:</p>
    <ul>
      <li>
        2008-2012 - The Nikolaev branch of the Kiev National University of
        Culture and Arts is a manager of foreign economic activity
      </li>
      <li>2015 - Academy of Beauty "Master Service" - massage therapist</li>
    </ul>

    <p>
      Experience:
    </p>
    <ul>
      <li>2014-2015 - ssistant manager Car dealership network Auto galaxy</li>
      <li>2015 - private massage practice</li>
    </ul>
  </body>
</html>
